.appContainer {
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    /* @media (min-width: $mantine-breakpoint-sm) {
        padding-left: var(--mantine-spacing-md);
        padding-right: var(--mantine-spacing-md);
    } */

    /* @media (min-width: $mantine-breakpoint-md) {
        padding-left: var(--mantine-spacing-lg);
        padding-right: var(--mantine-spacing-lg);
    } */

    /* @media (min-width: $mantine-breakpoint-xl) {
        padding-left: calc(var(--mantine-spacing-xl) + 1rem);
        padding-right: calc(var(--mantine-spacing-xl) + 1rem);
    } */
}
